.toolbar{
    width: 65%;
    color:rgba(0, 0, 0, 0.54);
    border: 1px solid;
    border-color: #BDC3C7;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    .start{
        width: 50%;
    }
    .end{
        width: 50%;
        text-align: right;
        padding-top: 10px;
    }
    button{
        padding: 10px;
        margin: 6px 8px 6px 8px;
        min-width: 88px;
        border-radius: 3px;
        font-size: 14px;
        color:white;
        background-color: rgb(54, 54, 158);
        text-align: center;
        text-transform: uppercase;
        text-decoration:none;
        border: none;
        outline: none;
    }
   
}