/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
.ag-cell {
    
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    word-break: break-word;
}